@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: light;
}

html {
  background-color: white;
  color: black;
}
.dark-gradient-bg {
  background: #000000; /* fallback */
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
  color: white;
}

.settext {
  color: #028697;
}
.setbg {
  background-color: #028697;
}

.buttonx {
  background-color: black;
}
.buttonx:hover {
  background-color: #028697; /* teal-500 এর hex code */
}
.setbg2 {
  background-color: #f2f2f2;
}
.setbgOff {
  background-color: #f8f5f0;
}
