@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Ovo&display=swap");

body {
  font-family: "Ovo", serif;
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: #f0f0f0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Ovo", serif;
  }
}
